<div>
    <div>
        <span>{{title}}</span>
        <input type="text" value="{{title}}">
    </div>
    <div>
        <span>{{text}}</span>
        <select></select>
    </div>
    <div>
        <span>{{text}}</span>
        <textarea>{{text}}</textarea>
    </div>
    <div></div>
    <div></div>
</div>